body{
    background-color: rgb(15, 15, 15);
}

p{
    color: white;
}

h2{
    color: white;
    text-decoration: underline;
    margin-top: 10px;
    
}


img{
    width: 100%;
    height: 100%;
    border-radius:5px;
}


